*{
  margin:0px;
  padding:0px;
}
html,body{
  height:100%;
  width:100%;
}
.container{
  position: relative;
  height:100%;
  width:100%;
  border:1px solid red;
}
.logo{
  position:relative;
  margin:0 auto;
  width:270px;
  height:129px;
  border:1px solid blue;
}
form{
  height:30px;
  width:350px;
  position: relative;
}
.input_box{
  height:100%;
  width:70%;
  display: inline-block;
}
.submit_btn{
  height:30px;
  width:20%;
  display: inline-block;

}
